
@{
    ViewData["Title"] = "ListSamsung";
}

<!-- Chon danh muc (chung) -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="navbar-brand disabled" href="#">DANH MỤC SẢN PHẨM</div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListIphone">IPHONE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled text-danger" asp-controller="ProductList" asp-action="ListSamsung">SAMSUNG <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListVsmart">VSMART</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListNokia">NOKIA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListOppo">OPPO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListXiaomi">XIAOMI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListHuawei">HUAWEI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListVivo">VIVO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="ProductList" asp-action="ListLG">LG</a>
            </li>      
        </ul>
    </div>
</nav>
<!---- Item sp --->
<h1> Danh mục điện thoại Samsung <img style="width:50px; height:50px" src="~/picture/logo Samsung.png" />  </h1>
<!--- Phân trang--->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @for (int i = 0; i < ViewBag.count; i++)
            {
                <a href="@Url.Action("ListSamsung", "ProductList", new { begin=i})" class="btn btn-primary">@i</a>

            }
        </div>
    </div>
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 text-center img-thumbnail">
                <img class="card-img-top" style="width:250px; height:250px" src="~/images/@item.ProductImage" alt="" />
                <div class="card-body">
                    <h4 class="card-title"> @item.ProductName </h4>
                    <h5 class="card-title"> @item.ProductPrice VNĐ </h5>
                </div>
                <div class="card-footer">
                    <a asp-controller="DetailsProduct" asp-action="Details" asp-route-id="@item.ProductId" class="text-muted"><i class="btn btn-primary text-white">Chi tiết</i></a> |
                    <a asp-controller="Cart" asp-action="Buy" asp-route-id="@item.ProductId" class="btn btn-info">  Mua ngay</a>
                </div>
            </div>
        </div>
    }
</div>


