@model IEnumerable<PhoneWeb.Models.Domain.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Quản lý đơn hàng</h1>
<h2> Số đơn hàng: <i style="color:red">@Model.Count()</i></h2>
<div class="row">
    <div class="col-md-3">    
    </div>
    <div class="col-md-6 text-center">
        <div class="row no-gutters align-items-center">
            <div class="col-auto">
                <i class="fa fa-search fa-2x"></i>
            </div>
            <div class="col nav-search">
                <input class="form-control" id="search" name="search" type="search" placeholder="Tìm kiếm đơn hàng">
            </div>

            <div class="col-auto">
                <input class="btn btn-md btn-secondary" id="btnSearch" name="btnSearch" type="submit" value="Tìm kiếm" />
            
            </div>
        </div>
    </div>
</div>
<br><br>
<table  class="table" border="1">
    <thead>
        <tr>
            <td style="color:blue">
                @Html.DisplayNameFor(model => model.OrderDate)
            </td>
            <td style="color:blue">
                @Html.DisplayNameFor(model => model.TenKhachHang)
            </td>
            <td style="color:blue">
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </td>
            <td style="color:blue">
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td style="color:blue">
                @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
            </td>
         

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="jumbotron">
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
            </td>
        </tr>
}
    </tbody>
</table>
